.header-div {
    display: flex;
    padding: 50px 85px;
}

.search-div {
    display: flex;
    margin: 0 0 auto auto;
    border: solid 2px #F2F2F2;
    border-radius: 26px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.location-input,
.guest-input {
    font-family: inherit;
    padding: 20px 25px;
    color: #BDBDBD;
    border: none;
    font-size: 14px;
    outline: none;
}

.search-btn {
    border: none;
    background-color: white;
    color: #EB5757;
    padding: 20px 25px;
    font-size: 18px;
}

.divider {
    background-color: #F2F2F2;
    width: 2px;
}